<div class="col-xs-12 col-md-10 col-lg-8">
  <% if @musicians.present? %>
    <table class="table">
      <tr>
        <th class="text-left">ミュージシャン名</th>
        <th></th>
      </tr>
      <% @musicians.each do |musician| %>
        <tr class="text-left">
          <td><%= link_to musician_path(musician),class: "link_hover_sm"  do %> <span class=" glyphicon glyphicon-user"></span><%= musician.name%><% end %></td>
          <td><%= render 'musician_relationships/favorite_button', musician: musician %></td>
        </tr>
      <% end %>
    </table>
    <%= paginate @musicians %>
  <% else %>
    <br>
    <%= link_to new_musician_path, class: 'btn btn-default' do %> <span class=" glyphicon glyphicon-plus"></span>Add Musician<% end %>
  <% end %>
</div>
