<div class="row">
  <aside class="col-xs-12 col-lg-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h1 class="panel-title"><%= @musician.name %></h1>
      </div>
      <div class="panel-body">
        <%= image_tag(@musician.image.url, class:"img-responsive") if @musician.image.present? %>
        <br>
        <%= link_to 'edit musician', edit_musician_path(@musician)%>
      </div>
    </div>
    <div class="center-block">
      <%= render 'musician_relationships/favorite_button', musician: @musician %>
    </div>
    
  </aside>
  <div class="col-xs-12 col-lg-8">
      <div class="panel panel-default">
        <div class="panel-body">
          <h5><%= simple_format(@musician.detail) %></h5>
        </div>
      </div>
      <div class="page-header">
      <h3>セットリスト一覧<%= link_to '+Add Setlist', new_setlist_path(musician_id: @musician.id), class: 'btn-warning btn-xs'%></h3>
      </div>
        <table class="table">
        <tr>
          <th class="text-left">ライブ名</th>
          <th class="text-left">場所</th>
          <th class="text-left">日付</th>
        </tr>
        <% @setlists.each do |setlist|  %>
          <tr>
            <td><%= link_to setlist_path(setlist) do %> <span class=" glyphicon glyphicon-music"></span><%= setlist.title%><span class="badge"><%= setlist.songs.count %><% end %></td>
            <td><span class="text-muted"><%= setlist.place %></span></td>
            <td><span class="text-muted"><%= setlist.date %></span></td>
          </tr>
        <% end %>
  </div>
</div>
