<div class="row">
  <aside class="col-xs-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%= @musician.name %></h3>
      </div>
      <div class="panel-body">
          <%= image_tag @musician.image.to_s %>
      </div>
    </div>
    <%= render 'musician_relationships/favorite_button', musician: @musician %>
  </aside>
  <div class="col-xs-8">
      <h3><%= @musician.detail %></h3>
      <h3><%= link_to '+Add Setlist', new_setlist_path(musician_id: @musician.id) %></h3>
      <h3>セットリスト一覧</h3>
        <% @setlists.each do |setlist| %>
            <div class="media-body">
                <h3><%= link_to setlist.title, setlist_path(setlist) %> <span class="text-muted">date <%= setlist.date %></span></h3>
            </div>
        <% end %>
  </div>
</div>
