<div class="row">
  <div class="col-xs-12">

    <div>
      <table class="table">
      <tr>
        <th class="text-left">ライブ名</th>
        <td><%= @setlist.title %></td>
      </tr>
      <tr>
        <th class="text-left">ミュージシャン名</th>
        <td><%= @musician.name %></td>
      </tr>
      <tr>
        <th class="text-left">日付</th>
        <td><%= @setlist.date %></td>
      </tr>
      <tr>
        <th class="text-left">場所</th>
        <td><%= @setlist.place %></td>
      </tr>
      </table>
    </div>

    <br>

    <div class="form-group">
      <div class="form-inline">
        <%= form_tag(add_song_setlist_path(@setlist), method: :patch, class: 'form_inline') do %>
            <%= label :trackorder, 'trackorder' %>
            <%= number_field_tag :trackorder, '', in: 0...201, class: 'form-control' %>
            <%= label :title, 'title' %>
            <%= text_field_tag :title, '', class: 'form-control' %>

            <%= button_tag( class: "btn btn-primary btn-xs") do %>
              <%= content_tag :span, "AddSong", class: "glyphicon glyphicon-plus" %>
            <% end %>
        <% end %>
      </div>
    </div>
    <br>
    
    <div class="form-group">
    <%= form_for @setlist do |f| %>
      <% count = @setlist.songs.count %>
      <%= f.fields_for :songs do |song| %>
        <% if count > song.index %>
          <div class="form-inline">
            <%= song.label :trackorder, 'Trackorder' %>
            <%= song.number_field :trackorder, in: 0...201,  class: 'form-control' %>
            <%= song.label :title, 'Title' %>
            <%= song.text_field :title, class: 'form-control' %>
            <%= link_to "Delete", del_song_setlist_path(song_id: song.object.id), method: :delete, data: { confirm: "本当に削除してよろしいですか?" }, class: 'btn btn-danger btn-xs' %>
          </div>
          <br>
        <% end %>
      <% end %>
    <%=f.hidden_field :musician_id, :value => @setlist.musician_id %>
    <%= f.submit 'Registration', class: 'btn btn-primary btn-block' %>
    
    <% end %>
    </div>
  </div>
</div>
