<div class="row">
  <div class="col-xs-8">
    <div>
        <table class="table">
        <tr>
          <th class="text-left">ライブ名</th>
          <th class="text-left">ミュージシャン名</th>
          <th class="text-left">場所</th>
          <th class="text-left">日付</th>
          <th class="text-left"></th>
        </tr>
        <tr>
          <td><%= @setlist.title %></td>
          <td><%= @musician.name %></td>
          <td><%= @setlist.date %></td>
          <td><%= @setlist.place %></td>
          <td><%= render 'setlist_relationships/join_button', setlist: @setlist %></td>
        </tr>
    </div>
    <div>
    <% @songs.each do |song| %> 
        <table class="table">
        <tr>
          <th class="text-right"></th>
          <th class="text-left">曲名</th>
          <th class="text-right"><%= link_to 'edit Setlist', edit_setlist_path(setlist_id: @setlist.id), class: 'btn btn-primary btn-xs' %> <!-- 引数渡す必要ないかも--></th>
          <th class="text-left">
            <% if current_user == @setlist.user %>
              <%= link_to "Delete", @setlist, method: :delete, data: { confirm: "本当に削除してよろしいですか?" }, class: 'btn btn-danger btn-xs' %>
            <% end %>
          </th>
        </tr>
        <tr>
          <td class="text-right"><%= song.order %></td>
          <td class="text-left"><%= song.title %></td>
        </tr>
      <% end %>
    </div>
  </div>
  
</div>