<div class="row">
  <div class="col-xs-12">

    <div>
      <table class="table">
        <tr>
          <th class="text-left">ライブ名</th>
          <td><%= @setlist.title %></td>
        </tr>
        <tr>
          <th class="text-left">ミュージシャン名</th>
          <td><%= @musician.name %></td>
        </tr>
        <tr>
          <th class="text-left">日付</th>
          <td><%= @setlist.date %></td>
        </tr>
        <tr>
          <th class="text-left">場所</th>
          <td><%= @setlist.place %></td>
        </tr>
      </table>
    </div>

    <div class="inline-left"><%= render 'setlist_relationships/join_button', setlist: @setlist %></div>
    <div class="inline-right"><%= link_to 'edit detail', setlist_detail_edit_path(@setlist), class: 'btn btn-primary btn-xs' %></div>

    <div>
      <table class="table">
        <tr>
          <th class="text-right"></th>
          <th class="text-left">曲名</th>
        </tr>
        <% @songs.each do |song| %> 
          <tr>
            <td class="text-right"><%= song.trackorder %></td>
            <td class="text-left"><%= song.title %></td>
          </tr>
        <% end %>
      </table>
    </div>

    <div class="inline-right">
      <%= link_to 'edit Setlist', edit_setlist_path(@setlist), class: 'btn btn-primary btn-xs' %> 
      <% if current_user == @setlist.user %>
        <%= link_to "Delete", @setlist, method: :delete, data: { confirm: "本当に削除してよろしいですか?" }, class: 'btn btn-danger btn-xs' %>
      <% end %>
    </div>
    <%= link_to musician_path(@musician) do %> <span class=" glyphicon glyphicon-user"></span><%= @musician.name %><% end %>
  </div>
</div>
